@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>POSTS</h1>
@foreach (var postSummary in Model.PostSummaries)
{
    <div>
        <a href="@postSummary.RelativePath">@postSummary.Title</a> published by @postSummary.Author
    </div>
    <span>---</span>
}

<p>
    <i>
        This website has been intentionally made simple without styles to reduce code noise and to show the bare minimum of Easy Content, which is about content and not about presentation. If you wish to see EasyContent working in a more realistic scenario
        and find further information about this and other projects, please visit the creator's website <a href="https://sunnyatticsoftware.com">Sunny Attic Software</a> and its blog, powered by Easy Content.
    </i>
</p>