<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sasw.EasyContent.Sample.Basic</title>
    @RenderSection("AdditionalMetadata", false)
</head>
<body>
    @RenderBody()
    <footer>
        <hr />
        <p>
            NOTE: This website is intentionally made simple without styles to reduce code noise and to show the bare minimum of Easy Content, which is about content and not about presentation. If you wish to see EasyContent working in a more realistic scenario
            and find further information about this and other projects, please visit the creator's website <a href="https://sunnyatticsoftware.com">Sunny Attic Software</a> and its blog, powered by Easy Content
        </p>
    </footer>
</body>
</html>
